<body>
	<div class="flex-lg-1 h-screen overflow-y-lg-auto mainbody">
		<div class="container-fluid">
		  <div class="row align-items-left">
			<div class="col-sm col-10">
			  <h1 class="mt-6"><%= project.projectname %></h1>
			</div>
			<div class="col-sm-auto col-12 mt-4 mt-sm-0">
			  <div class="nav-item dropdown no-arrow show">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <span class="mr-2 d-none d-lg-inline text-gray-600 small">
					<%= name.substring(0,1).toLocaleUpperCase() + name.substring(1); %>
				  </span>
				  <img class="img-profile rounded-circle" src="/img/people/img-2.png">
				</a>
				<!-- Dropdown - User Information -->
				<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
				  <a class="dropdown-item" href="#">
					<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
					Profile
				  </a>
				  <a class="dropdown-item" href="#">
					<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
					Settings
				  </a>
				  <a class="dropdown-item" href="#">
					<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
					Activity Log
				  </a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="/users/logout">
					<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					Logout
				  </a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-md-10"col-md-10><p>Welcome to Easy Test! This site is very much still a work in progress, some elements may have contextual functionality that hasn't been implemented yet...</p><p><%- include('partials/messages') %><p></p></div>
		  </div>
		  <div class="row align-items-left border-bottom pt-6">
			<ul class="nav">
			  <li class="nav-item">
				<a class="nav-link" aria-current="page" data-target="projects">Test Cases</a>
			  </li>
			</ul>
		  </div>
		<div id="projects" class="page-content">
			<div class="offcanvas offcanvas-end w-full w-lg-1/3" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
				id="offcanvasCreate" aria-labelledby="offcanvasCreateLabel" aria-modal="true" role="dialog">
				<div class="offcanvas-header border-bottom py-5 bg-surface-secondary">
					<h5 class="offcanvas-title" id="offcanvasCreateLabel">Create a new test case</h5><button type="button"
						class="btn-close text-reset text-xs" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<form action="/projects/<%= project.projectname %>/addtestcase" method="POST" >
				<div class="offcanvas-body vstack gap-2">
					<div class="form-group">
						<label class="form-label" for="testcasename" name="testcasename">Name</label> <input type="text" id="testcasename" name="testcasename" class="form-control" placeholder="Test case name">
						<span class="d-block mt-2 text-sm text-muted">Make it unique.</span>
						<label class="form-label" for="testcasedescription" name="testcasedescription">Description</label> <input type="text" id="testcasedescription" name="testcasedescription" class="form-control" placeholder="PR-001">
						<span class="d-block mt-2 text-sm text-muted">Make it unique.</span>
					</div>
					<hr class="my-0">
				</div>
				<div class="modal-footer py-2 bg-surface-secondary">
					<button type="button" class="btn btn-sm btn-neutral" data-bs-dismiss="offcanvas">Close</button> 
					<button type="submit" class="btn btn-sm btn-primary">Save</button>
				</div>
				</form>
			</div>
		<% 
		// Calculate percentage of requirements included in test cases across all projects
		numRequirements = requirements.length;
		numRequirementsWithTests = 0;
		numTestCases = 0;
		for (const project of projects) {
		  for (const testcase of project.testcases) {
			numTestCases++;
			for (const reqId of testcase.linkedrequirements) {
				const req = requirements.find(req => req._id.toString() === reqId.toString());
				if (req) {
				  numRequirementsWithTests++;
				  break; // Found a linked requirement, move on to next test case
				}
			  }
			}
		  }
		percentageWithTests = Math.round(numRequirementsWithTests / numRequirements * 100);
		if (isNaN(percentageWithTests)) {
		  percentageWithTests = 0;
		}
	
    	%>
		<div class="container-fluid">
			<div class="row g-6 mb-6">
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card reactiveCard">
						<div class="card-body">
							<div class="row">
								<div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">Coverage</span>
									<span class="h3 font-bold mb-0" id="coveragespan"></span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-success text-white text-lg rounded-circle"><i
											class="bi bi-check-all"></i>
									</div>
								</div>
							</div>
							<div class="mt-2 mb-0 text-sm">
								<span class="badge badge-pill bg-soft-success text-success me-2">
									<i class="bi bi-arrow-up me-1"></i>3% 
								</span>
								<span class="text-nowrap text-xs text-muted">Since last month</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card reactiveCard">
						<div class="card-body">
							<div class="row">
								<div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">Highlighted Project</span>
									<span class="h6 font-bold mb-0"></span>
										<a class="text-heading font-semibold" href="/project/<%= projects[0].projectname %>"><%= projects[0].projectname %></a>
									</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-primary text-white text-lg rounded-circle"><i
											class="bi bi-briefcase"></i></div>
								</div>
							</div>
							<div class="mt-2 mb-0 text-sm">
								<span class="text-nowrap text-xs text-muted">Next Deadline</span>
								<span class="badge badge-pill bg-soft-success text-success me-2">Wed </span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card reactiveCard">
						<div class="card-body">
							<div class="row">
								<div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">New Requirements</span>
									<span class="h3 font-bold mb-0">5</span></div>
								<div class="col-auto">
									<div class="icon icon-shape bg-requirement text-white text-lg rounded-circle"><i class="bi bi-shield-lock"></i></div>
								</div>
							</div>
							<div class="mt-2 mb-0 text-sm">
								<span class="text-nowrap text-xs text-muted">Since this morning</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 col-12">
					<div class="card reactiveCard">
						<div class="card-body">
							<div class="row">
								<div class="col"><span class="h6 font-semibold text-muted text-sm d-block mb-2">DeadLines</span>
									<div class="mt-2 mb-0 text-sm"><span class="badge badge-pill bg-soft-danger text-success me-2">
										<span class="text-nowrap text-xs text-muted">Project1 Test Prep - Wed</span>
									</div>
									<div class="mt-2 mb-0 text-sm"><span class="badge badge-pill bg-soft-success text-success me-2">
										<span class="text-nowrap text-xs text-muted">Project1 Test Execution - Fri</span>
									</div>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
										<i class="bi bi-minecart-loaded"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="hstack gap-2">
						<a href="#offcanvasCreate" class="btn btn-sm btn-primary" data-bs-toggle="offcanvas"><span class="pe-2"><i class="bi bi-plus-square-dotted"></i> </span><span>Create</span></a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header border-bottom">
					<h5 class="mb-0">Test Cases</h5>
				</div>
				<div class="table-responsive">
					<table class="table table-hover table-nowrap">
						<thead class="table-light">
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Last Edited</th>
								<th scope="col">Status</th>
								<th scope="col">Team</th>
								<th scope="col">Coverage</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% for (let i = 0; i < testcases.length; i++) { %>
							<tr>
								<td>
									<% const images = ['/img/social/bootstrap.svg', '/img/social/mongodb.svg', '/img/social/angular.svg', '/img/social/javascript.svg']; %>
									<% const randomImage = images[Math.floor(Math.random() * images.length)]; %>
									<img alt="..." src="https://cdn-icons-png.flaticon.com/512/4484/4484590.png" class="avatar avatar-sm rounded-circle me-2">
									<a class="text-heading font-semibold" href="/project/<%= project.projectname %>/<%= testcases[i].name %>"><%= testcases[i].name %></a>
								<td>23-01-2022</td>
								<td><span class="badge badge-lg badge-dot"><i class="bg-warning"></i>In progress</span></td>
								<td>
									<div class="avatar-group"><a href="#"
											class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img
												alt="..." src="/img/people/img-1.png"> </a><a href="#"
											class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img
												alt="..." src="/img/people/img-3.png"> </a><a href="#"
											class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card"><img
												alt="..." src="/img/people/img-4.png"></a></div>
								</td>
								<td>
									<div class="d-flex align-items-center"><span class="me-2">38%</span>
										<div>
											<div class="progress" style="width:100px">
												<div class="progress-bar bg-warning" role="progressbar" aria-valuenow="38"
													aria-valuemin="0" aria-valuemax="100" style="width:38%"></div>
											</div>
										</div>
									</div>
								</td>
								<td class="text-end">
									<a href="/projects/<%= project.projectname %>/<%= testcases[i].name %>/clone-here" class="btn btn-sm btn-neutral">Clone</a> 
									<form id="delete-form" action="/projects/<%= project.projectname %>/<%= testcases[i].name %>/delete" method="POST">
										<input type="hidden" name="_method" value="DELETE">
										<button type="submit" class="btn btn-sm btn-square btn-neutral text-danger-hover">
											<i class="bi bi-trash"></i>
										  </button>
									</form>
								</td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>

<script>

function showOffcanvas() {
  var offcanvas = document.getElementById("offcanvasCreate");
  offcanvas.classList.add("show");
}

function cloneToPrompt(projects, testcaseName, projectName) {
  var selectedTestCase = testcaseName;
  var containingProject = projectName;
  var projects = JSON.parse(projects);
  var options = [{
    text: 'Choose multiple...',
    value: ''
  }];

  for (var i = 0; i < projects.length; i++) {
    options.push({
      text: projects[i].projectname,
      value: projects[i]._id
    });
  }

  bootbox.prompt({
    title: 'Clone to one or many projects',
    inputType: 'select',
    multiple: true,
    inputOptions: options,
    callback: function (result) {
      if (result) {
        var selectedProjects = result;
		fetch('/projects/clone-to', {
		  method: 'POST',
		  headers: {
		    'Content-Type': 'application/json'
		  },
		  body: JSON.stringify({ selectedProjects: selectedProjects, selectedTestCase: selectedTestCase, containingProject: containingProject })
		})
      }
    }
  });
}


</script>