<body>
	<section class="sidebar-content ignore-clicks">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-6" col-md-6>
					<h1 class="mt-6">
						<%= requirement.requirementname %>
					</h1>
				</div>
				<div class="col-md-6 d-flex justify-content-end">
					<div class="nav-item dropdown no-arrow show">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small">
								<%= name.substring(0,1).toLocaleUpperCase() + name.substring(1); %>
							</span>
							<img class="img-profile rounded-circle" src="https://source.unsplash.com/WLUHO9A_xik/60x60">
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							aria-labelledby="userDropdown">
							<a class="dropdown-item" href="#">
								<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								Profile
							</a>
							<a class="dropdown-item" href="#">
								<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
								Settings
							</a>
							<a class="dropdown-item" href="#">
								<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
								Activity Log
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/users/logout">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
								Logout
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8" col-md-8>
					<p>Welcome to Easy Test! This site is very much still a work in progress, some elements may have
						contextual functionality that hasn't been implemented yet...</p>
					<p><%- include('partials/messages') %>
							<p></p>
				</div>
				<div class="col-md-4" col-md-4></div>
			</div>


			<div class="row">
				<div class="col-md-2" col-md-2>
					<!-- Coverage % + data -->
					<div class="card border-secondary text-center mb-2" style="max-width: 18rem; height: 125px">
						<div class="card-body text-secondary">
							<h5 class="card-title">Test Coverage</h5>
							<h3 class="card-text">75%</h3>
						</div>
					</div>
				</div>
				<div class="col-md-2" col-md-2>
					<!-- Coverage % + data -->
					<div class="card border-secondary text-center mb-2" style="max-width: 18rem; height: 125px">
						<div class="card-body text-secondary">
							<h5 class="card-title">Unmet Requirements</h5>
							<h3 class="card-text">24</h3>
						</div>
					</div>
				</div>
				<div class="col-md-2" col-md-2>
					<!-- Coverage % + data -->
					<div class="card border-secondary text-center mb-2" style="max-width: 18rem; height: 125px">
						<div class="card-body text-secondary">
							<h5 class="card-title">Test Coverage</h5>
							<h3 class="card-text">75%</h3>
						</div>
					</div>
				</div>
				<div class="col-md-2" col-md-2>
					<!-- Coverage % + data -->
					<div class="card border-secondary text-center mb-2" style="max-width: 18rem; height: 125px">
						<div class="card-body text-secondary">
							<h5 class="card-title">Test Coverage</h5>
							<h3 class="card-text">75%</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-8" col-md-8>
					<table class="table table-borderless">
						<thead>
							<tr>
								<th scope="col" class="col-md-2">Shorthand</th>
								<th scope="col" class="col-md-6">Test case name</th>
								<th scope="col" class="col-md-2"></th>
								<th scope="col" class="col-md-1">Edited Last</th>
							</tr>
						</thead>
						<tbody>
							<% requirements.forEach(function (requirement) { %>
								<tr class="hover-color"
									onclick="location.href='/requirements/<%= requirements.requirementname %>'">
									<td>
										<%= requirement.requirementid %>
									</td>
									<td>
										<%= requirement.requirementname %>
									</td>
									</td>
									<td></td>
									<td>75%</td>
								</tr>
								<% }) %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>